.container {
    width: 100%;
    max-width: 90%;
}


.bold {
    font-weight: bold !important;
}

a {
    color: black;
}

footer a {
    color: white !important;
}


.social-media {
    margin-right: 10px;
}

footer > div .row {
    margin-bottom: 0px !important;
}

main {
    min-height: 100vh;
}

input[type=submit] {
    color: white !important;
}



.badge {
    width:5px;
    background: red;
}
