.post-text{
    margin-left:15px;
    margin-right:15px;
}

.thread-action-button{
    margin-right:10px;
}

.thread-user-info{
    margin-left:10px;
}

.dropdown-content li>a{
    color: #2979ff; /* blue accent-3 */
}